div.note{
  background-color: yellow;
  width: 150px;
  height: 150px;
  box-shadow: 2px 2px 2px 2px gray;
  margin: 100px;
  position: absolute;
}

.btn{
  margin-top: 10%;
  margin-left: 50%;
}

input[type="checkbox"]{
  margin-left: 500px;
}